body {
  margin: 0;
  width: 100%;
}
.nav{
    display: inline;
}

#header{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #323232;
    padding-left: 20px;
    float: left;
}

.menu{
    list-style: none;
    display: inline;

}

#nav_about{
    padding-right: 150px;
    float: right;
    padding-top: 25px;
    text-transform: uppercase;
}

#nav_contact{
    padding-right: 50px;
    float: right;
    padding-top: 25px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: .9em;
    color: #323232;
}

.splash{
    height: auto;
    max-width: 1260px;
}


h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.875em;
    color: #323232;
    text-align: center;
    margin-top: 20px;

}

h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #00897f;
    text-transform: uppercase;
}

h3{
    font-family: 'PT Serif', serif;
    font-size: 1em;
    line-height: 2em;
    color: #323232;
}

#summary{
    margin-left: 325px;
    margin-right: 325px;
}


p{
    font-family: 'PT Serif', serif;
    font-size: .875em;
    line-height: 1.75em;
    color: #323232;
}

.wrapper{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    margin-top: 80px;
}

#left_box1{
    margin-left: 250px;
    width: 300px;
    padding: 30px;
    order: 1;
    background-color: #eeeeee;


}

#right_box1{
    margin-right: 250px;
    width: 300px;
    padding: 30px;
    order: 2;
    background-color: #eeeeee;
}

.boxes_title{
    text-align: center;

}

#circle_cats{
    max-width: 1260px;
    background-color: #ffffff;
    padding-top: 80px;

}

.cat_imgs{
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;

}

.img-circle {
    border-radius: 50%;

}

 #circ_cat1{
    margin-right: 55px;

}

#circ_cat2{
    margin-right: 55px;

}



#biz_info{
    background-color: #eeeeee;

}


.boxes_title2{
    text-align: center;

}

#biz_info>h1{
    padding-top: 80px;
    margin-bottom: 45px;

}


#biz_hours>h3>span{
    font-family: 'PT Serif', serif;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 2em;
    color: #323232;
}

#biz_hours{
    display: block;
    margin-left: 250px;
    margin-bottom: 80px;
    width: 300px;
    padding: 30px;
    order: 1;
    background-color: #ffffff;

}


#biz_contact{
    display: block;
    margin-right: 250px;
    margin-bottom: 80px;
    width: 300px;
    padding: 30px;
    order: 2;
    background-color: #ffffff;
}

#biz_contact>h3>span{
    font-family: 'PT Serif', serif;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 2em;
    color: #323232;
}

#address{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1em;
    color: #f26522;
    text-align: center;
}

#addy_div{
    justify-content: center;
}

.map{
    height: auto;
    width: 1250px;
}

footer{
    background-color: #00897f;
    padding-top: 62.5px;
    padding-bottom: 62.5px;
}


footer>h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #eeeeee;
    text-align: center;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
